<nav>
  <ul>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to @event.title, event_occurrences_path(@event) %></li>
    <li class='current'>
      <%= link_to "Edit", edit_event_path(@event) %>
      <%= link_to "Edit", edit_event_path(@event), class: 'current action' %>
    </li>
  </ul>
</nav>

<main>

  <%= form_for @event do |form| %>
    <%= render 'shared/errors', object: @event %>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
    <%= form.submit "Check" %>
  <% end %>

  <%= button_to "Trash", @event, method: :delete, data: { confirm: "This event will be permanently deleted." } %>

</main>
