<nav>
  <ul>
    <li class='current'>
      <%= link_to "Events", events_path %>
      <%= link_to "Home", events_path, class: 'current edit' %>
    </li>
  </ul>
</nav>

<main>

  <p class='new'><%= link_to "plus", '#new' %></p>

  <% if @events.present? %>
    <ol>

      <% for event in @events do %>
        <li>
          <p>
            <span class='title'><%= link_to event.title.first_character(:upcase), event_occurrences_path(event) %></span>
            <% if event.occurrences.present? %>
              <span class='time'><%= time_ago event.occurrences.first.created_at %></span>
            <% end %>
          </p>
          <p class='count'><%= link_to event.occurrences_count, event_occurrences_path(event) %></p>
          <%= link_to "edit", edit_event_path(event), class: 'edit' %>
        </li>
      <% end %>

    </ol>
  <% end %>

  <%= form_for @event, html: { id: 'new' } do |form| %>
    <%= render 'shared/errors', object: @event %>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
    <%= form.submit "plus" %>
  <% end %>

</main>
