<!DOCTYPE html>

<html>

  <head>
    <title>Abaddon</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <meta content='initial-scale = 1.0' name='viewport'>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= params[:controller] %>' id='<%= params[:action] %>'>

    <%= yield %>

    <footer>
      <p class='top'><%= link_to "ascend", '#' %></p>
    </footer>

    <%= javascript_include_tag 'buttons' %>

  </body>

</html>
